body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Comfortaa', cursive;
    margin-top: 40px;
    background-image: url(../images/photo/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 325px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
}
.login-contant>h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.login-contant>form>input{
    height: 35px;
    width: 250px;
    border: none;
    border-bottom: 1px solid rgba(171, 166, 166, 0.877);
    border-top: none;
    background-color: rgba(255, 255, 255, 0.789);;
}
.login-contant>form>input:focus{
    outline: none;
    cursor: 10px;
}
.login-contant>form>h5{
    font-size: 1em;
    margin-bottom: 5px;
}
.login-contant>form>a>p{
    text-align: end;
    font-size: 14px;
    margin-bottom: 40px;
    color: rgba(123, 124, 124, 0.901);
    
}
.placeholder{
    font-family: Poppins, fontawesome ;
    font-size: 15px;
    color: #5e5e5f;
}
.login-button{
    padding: 10px 100px;
    background:linear-gradient(to right,#FE0885 ,#FDD866);
    text-align: center;
    color: white;
    margin-top: 15px;
    border-radius: 50px;
    border: none;
    text-align: center;
    margin-left: 10px;
}
.signin-other>a>p{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    color: rgba(123, 124, 124, 0.901);
}
.social-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fab{
    font-size: 28px;
    padding: 8px 12px;
    margin-bottom: 50px;

}
.fa-facebook{
    color: #0F8EF2;
}
.fa-twitter{
    color: #1EA1F2;
}
.fa-google{
    color: #EB4336;
}
.signup-using-mail>a>p{
    text-align: center;
    color: rgba(123, 124, 124, 0.901);
    margin-top: -6px;
}